@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
